<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ict_trainigs.ictapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ict_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ict_trainings.ictapp.ICThome"
            android:label="@string/title_activity_icthome"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="ict_trainings.ictapp.courses.course_request.Course_Registration"
            android:label="@string/course_req" />
        <activity
            android:name="ict_trainings.ictapp.splash.Splash"
            android:label="@string/ictlogo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="ict_trainings.ictapp.maps.MapsActivity"
            android:label="@string/title_activity_maps">
        </activity>
        <activity
            android:name="ict_trainings.ictapp.courses.course_detail.CourseDetail"
            android:label="Course Detail" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>